@import "colors.modules";

body {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.form__label {
  font-family: Yanone Kaffeesatz;
  font-size: 1.2rem;
  margin-left: 2rem;
  margin-top: 0.7rem;
  display: block;
  transition: all 0.3s;
  transform: translateY(0rem);
}

.form__input {
  font-family: Yanone Kaffeesatz;
  color: grey;
  font-size: 18px;
  text-align: center;
  margin: 0 auto;
  padding: 1rem 1rem;
  border-radius: 0.2rem;
  background-color: $lightGray;
  border: none;
  width: 90%;
  height: 100%;
  display: block;
  border-bottom: 0.1rem solid transparent;
  transition: all 0.3s;
  &:placeholder-shown {
    + {
      .form__label {
        opacity: 0;
        visibility: hidden;
        -webkit-transform: translateY(-4rem);
        transform: translateY(-4rem);
      }
    }
  }
}