@import 'colors.modules';

.wrapper {
  position: absolute;
}
a {
  display: block;
  width: 100px;
  height: 40px;
  line-height: 40px;
  font-size: 18px;
  font-family: Yanone Kaffeesatz;
  text-decoration: none;
  color: $gray;
  border: 1px solid $lightGray;
  border-radius: 3px;
  text-align: center;
  position: relative;
  transition: all .35s;
  background: white;
  span {
    position: relative;
    z-index: 2;
  }
  &:after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: $red;
    transition: all .35s;
    border-radius: 3px;
  }
  &:hover {
    color: $white;
    &:after {
      width: 100%;
    }
  }
}
td {
  text-align: center;
  position: relative;
  width: 150px;
  padding: 1px 10px;
}