@keyframes animatedBackground {
from {
  background-position: 0 0;
}
100% {
     /* анимируем свойство background-position */
     background-position: -600px 600px;
   }
}

/* Mozilla Firefox 5.0+ */
@-moz-keyframes animatedBackground {
from {
  background-position: 0 0;
}
100% {
     background-position: -600px 600px;
   }
}
/* Safari 4.0+, Chrome 4.0+ */
@-webkit-keyframes animatedBackground {
from {
  background-position: 0 0;
}
100% {
     background-position: -600px 600px;
   }
}
/* Opera 12.0+ */
@-o-keyframes animatedBackground {
from {
  background-position: 0 0;
}
100% {
     background-position: -600px 600px;
   }
}
body {
  margin: 0;
  font-family: Yanone Kaffeesatz, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url(assets/img/фон.jpg);
  animation: animatedBackground 80s linear infinite;
  -moz-animation: animatedBackground 80s linear infinite;
  -webkit-animation: animatedBackground 80s linear infinite;
  -o-animation: animatedBackground 80s linear infinite;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
