@import 'colors.modules';

.customLink {
  color: Black;
  text-decoration: none;
}
.customLink:hover {
  color: $Byzantium;
}
.customBox {
  margin-top: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
}